<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>新神戸大学・会議室予約システム</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
    <h1>新神戸大学・会議室予約システム</h1>
    <h2>システムログイン</h2>
    <p th:unless="${message}">会議室予約システムにようこそ！　ログインしてください</p>
    <p th:if="${message}" th:text="${message}" style="color:red;"></p>
    <form th:action="@{/authenticate}" method="post">
        <table>
            <tr>
                <td>ユーザID：</td>
                <td><input type="text" name="uid"></td>
            </tr>
            <tr>
                <td>パスワード:</td>
                <td><input type="password" name="password"></td>
            </tr>
        </table>
        <p>
            <input class="button" type="reset" value="クリア">
            <input class="button" type="submit" value="ログイン">
        </p>
    </form>

    <h2>お知らせ</h2>
    <ul>
        <li>会議室予約システムが導入されました．従来の電話による予約業務は終了しました．</li>
        <li>システム利用のためには，ログインアカウントが必要です．詳細は研究科事務室(内線9999)までご連絡ください．</li>
    </ul>
    <h2>利用上の注意</h2>
    <UL>
        <li>アカウントは各研究室ひとつ発行しております．管理には注意してください．</li>
        <li>予約は学生に委任することなく，必ず教職員が責任を持って取るようにしてください．</li>
        <li>必要な部屋の予約が重なった場合は，予約した研究室同士で折衝ください．</li>
    </UL>
    <div th:insert="~{parts.html::pageFooter}"></div>

</body>

</html>