<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="parts.html :: pageHeader('予約カレンダー')"></div>

    <link rel='stylesheet' th:href="@{/fullcalendar/main.css}" />
    <script th:src="@{/fullcalendar/main.js}"></script>
    <script th:inline="javascript" th:with="url=@{/reservations/}">
        document.addEventListener('DOMContentLoaded', function() {
            var events = /*[[${events}]]*/ null;
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: events,
                initialDate: /*[[${initialDate}]]*/ null,
                dateClick: function(info) {
                    //クリックした日付がinfoに入る
                    console.log('clicked on ' + info.dateStr);
                    let url = /*[[${url}]]*/ "";
                    location.href = url + info.dateStr;
                }
            });
            calendar.render();
        });
    </script>
</head>

<body>


    <h1>[[${user.callName}]]さんの予約カレンダー</h1>
    <div th:insert="parts.html :: logout"></div>

    <div th:if="${#strings.equals(user.role, 'ADMIN')}">
        <a class="button" th:href="@{/users}">ユーザ管理</a>
        <a class="button" th:href="@{/rooms}">会議室管理</a>
    </div>

    <div id="calendar">
    </div>

    <div th:insert="parts.html :: pageFooter"></div>

</body>

</html>