<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>会議室登録</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
    <h1>会議室登録</h1>
    下記の情報を入力して，登録を押してください．
    <form role="form" th:action=@{/rooms} th:object=${roomForm} method="post">
        <table class="tabform">
            <tr>
                <td><label for="roomNumber">部屋番号： </label></td>
                <td>
                    <input type="text" required th:field="*{roomNumber}" />
                    <span th:if="${#fields.hasErrors('roomNumber')}" th:errors="*{roomNumber}" style="color: red"></span>
                </td>
            </tr>
            <tr>
                <td><label for="name">名前： </label></td>
                <td>
                    <input type="text" th:field="*{name}" />
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
                </td>
            </tr>
            <tr>
                <td><label for="building">建物名： </label></td>
                <td>
                    <input type="text" th:field="*{building}" />
                    <span th:if="${#fields.hasErrors('building')}" th:errors="*{building}" style="color: red"></span>
                </td>
            </tr>
            <tr>
                <td><label for="description">説明： </label></td>
                <td>
                    <textarea rows="5" th:field="*{description}"></textarea>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a class="button" th:href="@{/rooms}">戻る</a>
                    <input class="button" type="submit" value="登録" />
                </td>
            </tr>
        </table>
    </form>
</body>

</html>