[mysqld]
# mysqlサーバー側が使用する文字コード
character-set-server = utf8mb4
collation_server     = utf8mb4_ja_0900_as_cs_ks

# テーブルにTimeStamp型のカラムをもつ場合、推奨
explicit-defaults-for-timestamp=1
# 実行したクエリの全ての履歴が記録される（defaultではOFF）
general-log=1
# ログの出力先
general-log-file=/var/log/mysql/mysqld.log

[mysql]
# mysqlのクライアント側が使用する文字コード
default-character-set=utf8mb4

[client]
# 文字コードの設定
default-character-set = utf8mb4

